@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');



/* start: Globals */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--slate-700);
    font-size: 16px;
}
/* end: Globals */



/* start: Chat */
.chat-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--slate-100);
}

.chat-container {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    box-shadow: none;
    background-color: var(--white);
    position: relative;
}
/* end: Chat */

.status-tracker-label {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.status-tracker-label p {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.status-tracker-label hr {
    width: 80%;
    margin: 5px auto;
    border: none;
    border-top: 1px solid #ccc;
}

.status-tracker-label span {
    font-size: 12px;
    color: #777;
}


/* start: Sidebar */

/* Logo and heading at the top of the sidebar */
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 8px;
}

.logo-container .logo {
    max-width: 60px; /* Adjusted size to make the logo smaller */
    height: auto;
}

.logo-container .brand-name {
    color: #07ACB9; /* Color for the brand name */
    font-size: 14px; /* Adjust text size as needed */
    font-weight: bold;
    margin-top: 2px;
    text-align: center;
}
.chat-sidebar {
    width: 300px;
    background-color: #fff;;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
}
.chat-sidebar-logo {
    font-size: 28px;
    color: rgba(255, 255, 255, .8);
    display: block;
    text-align: center;
    padding: 12px 8px;
    text-decoration: none;
}
.chat-sidebar-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px 0;
}
.chat-sidebar-menu > * > a {
    display: block;
    text-align: center;
    padding: 12px 8px;
    font-size: 24px;
    text-decoration: none;
    color: var(--slate-400);
    position: relative;
    transition: color .15s ease-in-out;
}
.chat-sidebar-menu > * > a:hover {
    color: #07ACB9;
}
.chat-sidebar-menu > .active > a {
    color: #07ACB9;
    position: relative;
}

.chat-sidebar-menu > .active > a {
    color: #07ACB9;
    position: relative;
}

.chat-sidebar-menu > .active > a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #07ACB9;
}
.chat-sidebar-profile {
    margin-top: auto;
    position: relative;
}
.chat-sidebar-profile-toggle {
    background-color: transparent;
    border: none;
    outline: transparent;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.chat-sidebar-profile-toggle > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.chat-sidebar-profile-dropdown {
    position: absolute;
    bottom: 100%;
    left: 16px;
    background-color: var(--white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    list-style-type: none;
    border-radius: 4px;
    padding: 4px 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    transform-origin: left bottom;
    transition: all .15s ease-in-out;
}
.chat-sidebar-profile.active .chat-sidebar-profile-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.chat-sidebar-profile-dropdown a {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    text-decoration: none;
    color: var(--slate-400);
    font-size: 14px;
}
.chat-sidebar-profile-dropdown a:hover {
    background-color: #07ACB9;
    color: var(--white);
}
.chat-sidebar-profile-dropdown a:active {
    background-color: #06A8B5;
}
.chat-sidebar-profile-dropdown a i {
    margin-right: 12px;
    font-size: 17px;
}
/* end: Sidebar */


/*sidebar ez steppers*/
.ez-stepper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.ez-step {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Optional */
    cursor: pointer; /* Indicate that the step is clickable */
}

.ez-step.active {
    font-weight: bold; /* Highlight active step */
}

.ez-step.completed {
    text-decoration: line-through; /* Strikethrough for completed steps */
    color: gray; /* Change color for completed */
}

.ez-step-title {
    font-size: 1.2em;
}

.ez-step-description {
    font-size: 0.9em;
    color: #777; /* Optional */
}


/* start: Content side */
.chat-content {
    padding-left: 64px;
    height: 100%;
    position: relative;
}
.content-sidebar {
    width: 256px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 0;
    left: 64px;
    overflow-y: auto;
}
.content-sidebar-title {
    font-size: 22px;
    font-weight: 600;
    padding: 16px;
}
.content-sidebar-form {
    position: relative;
    padding: 0 16px;
}
.content-sidebar-input {
    padding: 8px 16px;
    background-color: var(--slate-100);
    border: 1px solid var(--slate-300);
    outline: none;
    width: 100%;
    border-radius: 4px;
    padding-right: 32px;
    font-size: 14px;
}
.content-sidebar-input:focus {
    border-color: var(--slate-400);
}
.content-sidebar-submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32px;
    color: var(--slate-400);
    background-color: transparent;
    outline: transparent;
    border: none;
    cursor: pointer;
    transition: color .15s ease-in-out;
}
.content-sidebar-submit:hover {
    color: var(--slate-600);
}
.content-messages {
    overflow-y: auto;
    height: 100%;
    margin-top: 16px;
}
.content-messages-list {
    list-style-type: none;
    padding: 8px 0;
}
.content-messages-list > * > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--slate-700);
    padding: 6px 16px;
}
.content-messages-list > * > a:hover {
    background-color: var(--slate-50);
}
.content-messages-list > .active > a {
    background-color: var(--slate-100);
}
.content-message-title {
    margin-left: 16px;
    margin-right: 16px;
    color: var(--slate-400);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    position: relative;
}
.content-message-title > * {
    position: relative;
    z-index: 1;
    padding: 0 4px 0 0;
    background-color: var(--white);
}
.content-message-title::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--slate-300);
    z-index: 0;
}
.content-message-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 12px;
}
.content-message-info {
    display: grid;
    margin-right: 12px;
    width: 100%;
}
.content-message-name {
    display: block;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 2px;
}
.content-message-text {
    font-size: 16px;
    color: var(--slate-400);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.content-message-more {
    text-align: right;
}
.content-message-unread {
    font-size: 14px;
    font-weight: 500;
    color: var(--white);
    background-color: #07ACB9;
    padding: 2px 4px;
    border-radius: 4px;
}
.content-message-time {
    font-size: 14px;
    color: var(--slate-400);
    font-weight: 500;
}
/* end: Content side */



/* start: Conversation */
.conversation {
    background-color: var(--slate-100);
    height: 100%;
    padding-left: 256px;
    display: none;
}
.conversation.active {
    display: flex;
    flex-direction: column;
}
.conversation-top {
    padding: 8px 16px;
    background-color: var(--white);
    display: flex;
    align-items: center;
}
.conversation-back {
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    color: var(--slate-400);
    margin-right: 12px;
    display: none;
}
.conversation-back:hover {
    background-color: var(--slate-100);
    border-radius: 50%;
    color: var(--slate-600);
}
.conversation-back:active {
    background-color: var(--slate-200);
}
.conversation-user {
    display: flex;
    align-items: center;
}
.conversation-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}
.conversation-user-name {
    font-weight: 500;
    font-size: 25px;
}
.conversation-user-status {
    color: var(--slate-400);
    font-size: 13px;
}
.conversation-user-status::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--slate-300);
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 4px;
}
.conversation-user-status.online::before {
    background-color: #07ACB9;
}
.conversation-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.conversation-buttons > * {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
    color: var(--slate-600);
    margin-left: 4px;
}
.conversation-buttons > :hover {
    background-color: var(--slate-100);
    color: var(--slate-700);
}
.conversation-buttons > :active {
    background-color: var(--slate-200);
}

.conversation-main {
    height: calc(100% - 120px);
    overflow-y: auto;
}
.conversation-wrapper {
    list-style-type: none;
}
.conversation-item {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 16px;
}
.conversation-item.me {
    flex-direction: row;
}
.conversation-item-side {
    margin-left: 8px;
}
.conversation-item.me .conversation-item-side {
    margin-right: 8px;
}
.conversation-item-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
.conversation-item-content {
    width: 100%;
}
.conversation-item-wrapper:not(:last-child) {
    margin-bottom: 8px;
}
.conversation-item-box {
    max-width: 720px;
    position: relative;
    margin-left: auto;
}
.conversation-item.me .conversation-item-box {
    margin-left: unset;
}
.conversation-item-text {
    padding: 12px 16px 8px;
    background-color: var(--white);
    box-shadow: 0 2px 12px -2px rgba(0, 0, 0, .1);
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.5;
    margin-left: 32px;
}
.conversation-item.me .conversation-item-text {
    margin-left: unset;
    margin-right: 32px;
}
.conversation-item.me .conversation-item-text {
    background-color: #07ACB9;
    box-shadow: 0 2px 12px -2px #07ACB9;
    color: rgba(255, 255, 255, .8);
}
.conversation-item-time {
    font-size: 12px;
    color: var(--slate-400);
    display: block;
    text-align: right;
    margin-top: 4px;
    line-height: 1;
}
.conversation-item.me .conversation-item-time {
    color: rgba(255, 255, 255, .7);
}
.conversation-item-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
}
.conversation-item.me .conversation-item-dropdown {
    left: unset;
    right: 0;
}
.conversation-item-wrapper:hover .conversation-item-dropdown {
    opacity: 1;
    visibility: visible;
}
.conversation-item-dropdown-toggle {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--white);
    outline: transparent;
    border: 1px solid var(--slate-200);
    cursor: pointer;
    transition: all .15s ease-in-out;
}
.conversation-item-dropdown-toggle:hover {
    background-color: #07ACB9;
    color: var(--white);
    box-shadow: 0 2px 12px -2px #07ACB9;
}
.conversation-item-dropdown-toggle:active {
    background-color: #06A8B5;
}
.conversation-item-dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white);
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    border-radius: 4px;
    padding: 4px 0;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    transform-origin: left top;
    transition: all .15s ease-in-out;
}
.conversation-item.me .conversation-item-dropdown-list {
    left: unset;
    right: 0;
}
.conversation-item-dropdown.active .conversation-item-dropdown-list {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.conversation-item-dropdown-list a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--slate-400);
    font-size: 13px;
    padding: 6px 12px;
}
.conversation-item-dropdown-list a:hover {
    background-color: var(--slate-100);
    color: var(--slate-600);
}
.conversation-item-dropdown-list a:active {
    background-color: var(--slate-200);
}
.conversation-item-dropdown-list a i {
    font-size: 16px;
    margin-right: 8px;
}
.coversation-divider {
    text-align: center;
    font-size: 13px;
    color: var(--slate-400);
    margin-bottom: 16px;
    position: relative;
}
.coversation-divider::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--slate-300);
}
.coversation-divider span {
    display: inline-block;
    padding: 0 8px;
    background-color: var(--slate-100);
    position: relative;
    z-index: 1;
}
.conversation-form {
    padding: 10px 0; /* Padding for top and bottom */
    background-color: var(--white); /* Background color for the form */
    display: flex; /* Use flexbox for layout */
    align-items: flex-end; /* Align items to the bottom */
}

.conversation-form-group {
    width: calc(100% - 40px); /* Set width to account for the send button */
    position: relative; /* Relative positioning for child elements */
    margin-right: 0; /* Remove right margin */
}

.conversation-form-input {
    background-color: var(--slate-100); /* Input background color */
    border: 1px solid var(--slate-300); /* Border color */
    border-radius: 4px; /* Rounded corners */
    outline: none; /* No outline on focus */
    padding: 10px 32px 10px 10px; /* Padding left adjusted to 10px */
    font: inherit; /* Inherit font properties */
    font-size: 16px; /* Font size */
    resize: none; /* No resizing */
    width: 100%; /* Full width */
    display: block; /* Block display */
    line-height: 1.5; /* Line height for better readability */
    max-height: calc(20px + (14px * 2 * 6)); /* Max height based on line height */
}

.conversation-form-input:focus {
    border-color: var(--slate-400); /* Border color on focus */
}

.conversation-form-record {
    position: absolute; /* Absolute positioning */
    bottom: 8px; /* Position from bottom */
    right: 16px; /* Position from right */
    font-size: 20px; /* Font size for record button */
    color: var(--slate-400); /* Text color */
    background-color: transparent; /* Transparent background */
    border: none; /* No border */
    outline: none; /* No outline */
    cursor: pointer; /* Pointer cursor */
}

.conversation-form-record:hover {
    color: var(--slate-600); /* Text color on hover */
}

.conversation-form-button {
    width: 40px; /* Width of the button */
    height: 40px; /* Height of the button */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    border-radius: 4px; /* Rounded corners */
    border: none; /* No border */
    background-color: transparent; /* Transparent background */
    outline: none; /* No outline */
    font-size: 20px; /* Font size */
    color: var(--slate-400); /* Text color */
    cursor: pointer; /* Pointer cursor */
    flex-shrink: 0; /* Prevent shrinking */
}

.conversation-form-button:hover {
    background-color: var(--slate-100); /* Background color on hover */
    color: var(--slate-600); /* Text color on hover */
}

.conversation-form-button:active {
    background-color: var(--slate-200); /* Background color on active */
    color: var(--slate-600); /* Text color on active */
}

.conversation-form-submit {
    background-color: #07ACB9; /* Submit button background color */
    box-shadow: 0 2px 8px -2px #07ACB9; /* Shadow effect */
    color: var(--white); /* Text color */
}

.conversation-form-submit:hover {
    background-color: #06A8B5; /* Background color on hover */
    color: var(--white); /* Text color on hover */
}

.conversation-form-submit:active {
    background-color: #0597A5; /* Background color on active */
    color: var(--white); /* Text color on active */
}

.conversation-default {
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 16px; /* Padding for the default conversation */
    padding-left: calc(256px + 16px); /* Left padding adjusted */
    color: var(--slate-400); /* Text color */
}

.conversation-default i {
    font-size: 32px; /* Icon font size */
}

.conversation-default p {
    margin-top: 16px; /* Margin for the paragraph */
}

/* end: Conversation */



/* start: Breakpoints */
@media screen and (max-width: 1600px) {
    .chat-container {
        max-width: unset;
        height: 100vh;
    }
}

@media screen and (max-width: 767px) {
    .chat-sidebar {
        top: unset;
        bottom: 0;
        width: 100%;
        height: 48px;
    }
    .chat-sidebar-logo {
        display: none;
    }
    .chat-sidebar-menu {
        flex-direction: row;
        padding: 0;
    }
    .chat-sidebar-menu > *,
    .chat-sidebar-menu > * > a {
        width: 100%;
        height: 100%;
    }
    .chat-sidebar-menu > * > a {
        padding: 8px;
    }
    .chat-sidebar-menu > .active > a {
        box-shadow: 0 2px 12px -2px #07ACB9;
    }
    .chat-sidebar-profile {
        margin-top: 0;
        display: flex;
        align-items: center;
    }
    .chat-sidebar-profile-toggle {
        width: 32px;
        height: 32px;
    }
    .chat-sidebar-profile-dropdown {
        left: unset;
        right: 16px;
    }

    .conversation,
    .chat-content {
        padding-left: unset;
    }
    .content-sidebar {
        left: unset;
        z-index: 10;
        width: 100%;
    }
    .chat-sidebar-menu > * > a::before {
        left: 50%;
        transform: translateX(-50%);
        bottom: 100%;
        top: unset;
    }
    .chat-sidebar-menu > * > a:hover::before {
        bottom: calc(100% + 8px);
        left: 50%;
    }

    .chat-content {
        position: relative;
        height: calc(100% - 48px);
    }
    .conversation.active {
        position: relative;
        z-index: 20;
    }
    .conversation-back {
        display: flex;
    }
    .conversation-default.active {
        display: none;
        padding: 16px;
    }
}

.application-status-tab {
    padding: 20px;
    font-size: 16px;
}

.application-steps-list {
    list-style-type: decimal; /* This will display numbers for the list */
    padding-left: 20px; /* Adjust padding as needed for alignment */
    margin-left: 0; /* Ensure no extra margin on the left */
}

.application-steps-list li {
    margin: 0; /* Remove margin from list items */
}



/* end: Breakpoints */