<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/applicant_chatbot.css">
    <link rel="stylesheet" href="/css/applicant_chatbot-tailwind.css">
    <title>Chat</title>
</head>
<body>
    <section class="chat-section">
        <div class="chat-container">
            <!-- Sidebar -->
            <aside class="chat-sidebar">
                <div class="logo-container">
                    <img src="/images/prime_assets/primeinfra-logo-text.png" alt="Logo" class="logo">
                    <div class="status-tracker-label">
                        <p>Applicant Status Tracker</p>
                        <hr>

                    </div>
                </div>
                
                <ul class="chat-sidebar-menu">
                    <!-- Steps Navigation -->
                    <li class="step-nav">
                        <div class="ez-step active">
                            <div class="ez-step-title">P1</div>
                            <div class="ez-step-description">P1: Initial Screening</div>
                        </div>
                    </li>
                    <li class="step-nav">
                        <div class="ez-step">
                            <div class="ez-step-title">P1 </div>
                            <div class="ez-step-description">Results</div>
                        </div>
                    </li>
                    <li class="step-nav">
                        <div class="ez-step">
                            <div class="ez-step-title">P2</div>
                            <div class="ez-step-description">P2: HR Screening</div>
                        </div>
                    </li>
                    <li class="step-nav">
                        <div class="ez-step">
                            <div class="ez-step-title">P2</div>
                            <div class="ez-step-description">Results</div>
                        </div>
                    </li>
                    <li class="step-nav">
                        <div class="ez-step">
                            <div class="ez-step-title">P3</div>
                            <div class="ez-step-description">P3: Panel Screening</div>
                        </div>
                    </li>
                    <li class="step-nav">
                        <div class="ez-step">
                            <div class="ez-step-title">P3</div>
                            <div class="ez-step-description">Results</div>
                        </div>
                    </li>

                </ul>
            </aside>

            <!-- Content -->
            <div class="chat-content">
                <div class="content-sidebar" id="chatSidebar" style="display: none;">
                    <div class="content-sidebar-title">Prime RecruitBot</div>
                    <form action="" class="content-sidebar-form">
                        <input type="search" class="content-sidebar-input" placeholder="Search...">
                        <button type="submit" class="content-sidebar-submit">
                            <i class="ri-search-line"></i>
                        </button>
                    </form>
                </div>

                <!-- Default and Conversation Panels -->
                <div class="conversation conversation-default active">
                    <div class="conversation-main">
                        <ul class="conversation-wrapper">
                            <div class="coversation-divider"><span>Today</span></div>
                            <li class="conversation-item me">
                                <div class="conversation-item-content">
                                    <div class="conversation-item-box">
                                        <div class="conversation-item-text">
                                            <p>Hi! Welcome to Prime Infrastructure's recruitment portal. What position are you applying for?</p>
                                            <div class="conversation-item-time">12:30</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="conversation-item">
                                <div class="conversation-item-content">
                                    <div class="conversation-item-box">
                                        <div class="conversation-item-text">
                                            <p>
                                                <select id="job-positions" name="job-positions"></select>
                                            </p>
                                            <div class="conversation-item-time">12:31</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                     <!-- Response Text Box Section -->
                    <div class="conversation-bottom">
                        <button type="button" id="submit-button" class="conversation-button">Submit</button>
                    </div>
                </div>
              
                    <!-- Log Out  -->
                    <div class="conversation-bottom">
                        <button type="button" id="submit-button" class="conversation-button">Log Out</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>