<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Onboarding</title>
    <style>
        body {
            font-family: 'Inter', sans-serif;
            background-color: #f9f9f9;
            color: #333;
            margin: 0;
            padding: 0;
        }

        /* Header styles */
        .header-container {
            background-color: #fff;
            padding: 20px 0;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        .header .logo {
            position: absolute;
            left: 3%;
            width: 200px;
        }

        .header h1 {
            font-size: 2em;
            color: #07ACB9;
            margin: 0;
        }

        /* Section title */
        .subheader {
            font-size: 1.8em;
            color: #333;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <!-- Header -->
    <div class="header-container">
        <div class="header">
            <img src="/images/prime_assets/primeinfra-logo-with-name.png" alt="Prime Infra Logo" class="logo">
            <h1>Onboarding</h1>
        </div>
    </div>

    <!-- Section Title -->
    <div class="subheader">
        5. Waiting for Final Objective Setting Document
    </div>

    <!-- Form Fields -->
    <div class="message">
        <label>Kindly cooperate with your Line Manager on his screen in accomplishing the Objective Setting Form. Your screen will be updated once this has been finalized by the Line Manager.</label>
    </div>
</body>
</html>
