<style>
    .logout-container {
    margin-top: 370px; /* Push the logout button to the bottom */
    text-align: center; /* Center the button */
    margin-right: 35px;
}

.logout-button {
    text-decoration: none;
    color: #2385B0; /* Text color */
    font-weight: bold;
    background-color: #D8D8D8; /* Bootstrap's danger color for logout */
    padding: 15px 15px; /* Padding for button */
    border-radius: 5px; /* Rounded corners */
    display: block; /* Align as a block */
    transition: background-color 0.3s; /* Smooth hover effect */
    font-size: 16px; /* Font size */
    width: 100%;
}

.logout-button:hover {
    background-color: #2385B0; 
    color: #D8D8D8;
    font-weight: bold;
}

</style>

<div class="sidebar">
    <div class="logo-container">
        <img src="/images/prime_assets/primeinfra-logo-with-name.png" alt="Logo" class="logo">
    </div>
    <ul>
        <!-- Updated Recruitment Management to Staff Information -->
        <li class="collapsible">
            <a href="#" class="collapsible-header">Staff Information</a>
            <ul class="collapsible-content">
                <li><a href="/employee/useracc">User Account Information</a></li>
                <li><a href="/employee/employeepersinfocareerprog">Personal Information & Career Progression</a></li>
            </ul>
        </li>
        <!-- Updated Performance Management to Attendance Request -->
        <li class="collapsible">
            <a href="#" class="collapsible-header">Attendance and Requests</a>
            <ul class="collapsible-content">
                <li><a href="/employee/attendance">Attendance</a></li>
                <li><a href="/employee/leaverequest">Leave Requests</a></li>
            </ul>
        </li>
        <li class="collapsible">
            <a href="#" class="collapsible-header">Staff Performance Goals</a>
            <ul class="collapsible-content">
                <li><a href="/employee/employeeobjectivebasedprog">Objective-based Progress Overview</a></li>
                <li><a href="/employee/employeeskillsproggapanal">Skills Progress & Gap Analysis Overview</a></li>
                <li><a href="/employee/viewtimeline">View Performance Review Timeline</a></li>

            </ul>
        </li>
        <!-- Uncommented section for Employee Management, if needed -->
        <!-- <li class="collapsible">
            <a href="#" class="collapsible-header">Employee Management</a>
            <ul class="collapsible-content">
                <li><a href="/hr/managestaff">Manage Employee Accounts</a></li>
            </ul>
        </li> -->
    </ul>

    <div class="logout-container">
        <a href="/logout" class="logout-button">Logout</a>
    </div>
</div>
