
<div class="sidebar">
    <div class="logo-container">
        <img src="/images/prime_assets/primeinfra-logo-with-name.png" alt="Logo" class="logo">
    </div>
    <ul>
        <li class="collapsible">
            <a href="#" class="collapsible-header">Recruitment Management</a>
            <ul class="collapsible-content">
                <li><a href="#">Home Management</a></li>
                <li><a href="#">Job Offers</a></li>
                <li><a href="#">Applicant Tracking</a></li>
            </ul>
        </li>
        <li class="collapsible">
            <a href="#" class="collapsible-header">Employee Management</a>
            <ul class="collapsible-content">
                <li><a href="/hr/managestaff">Manage Employee Accounts</a></li>
            </ul>
        </li>
    </ul>
</div>
