<style>
    .logout-container {
    margin-top: 370px; /* Push the logout button to the bottom */
    text-align: center; /* Center the button */
    margin-right: 35px;
}

.logout-button {
    text-decoration: none;
    color: #2385B0; /* Text color */
    font-weight: bold;
    background-color: #D8D8D8; /* Bootstrap's danger color for logout */
    padding: 15px 15px; /* Padding for button */
    border-radius: 5px; /* Rounded corners */
    display: block; /* Align as a block */
    transition: background-color 0.3s; /* Smooth hover effect */
    font-size: 16px; /* Font size */
    width: 100%;
}

.logout-button:hover {
    background-color: #2385B0; 
    color: #D8D8D8;
    font-weight: bold;
}

</style>
<div class="sidebar">
    <div class="logo-container">
        <img src="/images/prime_assets/primeinfra-logo-with-name.png" alt="Logo" class="logo">
    </div>
    <ul>


        <li class="collapsible">
            <a href="#" class="collapsible-header">Staff Information</a>
            <ul class="collapsible-content">
                <li><a href="/linemanager/useraccount">User Account Information</a></li>
                <li><a href="/linemanager/persinfocareerprog">Personal Information & Career Progression</a></li>
            </ul>
        </li>


        <li class="collapsible">
            <a href="#" class="collapsible-header">Manage Recruitment</a>
            <ul class="collapsible-content">
                <li><a href="#">Applicant Tracking</a></li>
                <li><a href="/linemanager/mrf">Request MRF</a></li>
            </ul>
        </li>
        <li class="collapsible">
            <a href="#" class="collapsible-header">Manage Department Team</a>
            <ul class="collapsible-content">
                <li><a href="/linemanager/dashboard">Dashboard</a></li>
                <li><a href="">Records and Performance Tracker</a></li>
            </ul>
        </li>
    </ul>
    <div class="logout-container">
        <a href="/logout" class="logout-button">Logout</a>
    </div>
</div>