<header>
    <div class="header-container">
        <div class="logo-container">
            <img src="/images/prime_assets/primeinfra-logo.png" alt="Prime Infra Logo" class="logo">
            <div class="brand-name">Prime Infra</div>
        </div>
        <nav class="nav-links">
            <a href="/aboutus" class="nav-link">About Us</a>
            <a href="/jobrecruitments" class="nav-link">Job Recruitments</a>
            <a href="/contact" class="nav-link">Contact</a>
           <a href="/applicant_signup" class="apply-now-btn">Apply Now</a>
        </nav>
    </div>
</header>
