<header>
    <div class="header-container">
        <img src="public/images/prime_assets/primeinfra-logo.png" alt="Prime Infra Logo" class="logo">
        <nav class="nav-links">
            <a href="/aboutus">About Us</a>
            <a href="/jobrecruitments">Job Recruitments</a>
            <a href="/contact">Contact</a>
            <a href="/apply" class="apply-now-button">Apply Now</a>
        </nav>
    </div>
</header>
